body {
  background-color: #C8D0D2;
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -2px;
  padding: 2.5rem;
}

.game-area {
  background-color: #009900;
  height: 700px;
  margin: 30px;
}













/* add to header at end */
/* position: sticky;  */
/* text-transform: uppercase; */
/* top: 0; */
/* z-index: 10; */